<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>METADATA</title>
		    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico') }}"/>

  <link rel="icon" type="image/png" href="../static/vendor/bootstrap/css/bootstrap.min.css') }}"/>
	</head>
	<div>
		<body>
			<img src="../static/images/tara_head.jpg" align = top alt = 'Ocean' width = '1000' height="250">
		</body>
	</div>
	<body>
		
		<div class="limiter">
    	<div class="container-login100" style="background-image: url(../static/images/tara1.jpg)";>
    	</div>
		</div>
	</body>
	</html>

